/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #fff;
}

/* Header */
header {
  background-color: #272470;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.logo h1 {
  font-size: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
}


/* Hero */
.hero {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
              url("Images/G4.png");
  background-size: cover;
  background-position: center;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/* Container */
.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 40px;
}

.destination {
  margin-bottom: 60px;
}

.destination h2 {
  color: #272470;
  font-size: 22px;
  margin-bottom: 15px;
}

.destination a {
  color: #272470;
  text-decoration: underline;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.gallery img {
  width: 32%;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.destination p {
  font-size: 20px;
  line-height: 1.7;
  text-align: justify;
  color: #272470;
}

/* Footer */
footer {
  background-color: #272470;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

footer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

footer p {
  font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .gallery img {
    width: 100%;
  }

  .hero {
    font-size: 32px;
  }

  nav a {
    display: inline-block;
    margin: 5px 10px;
  }
}

/* dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white; /* Sesuaikan dengan tema */
  text-decoration: none;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272470;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: grey;
}

.show {
  display: block;
}
