* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333;
}

/* HEADER */
header {
  background-color: #272470;
  color: white;
  padding: 12px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {font-size:20px;}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo h1 {
  font-size: 18px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 60px  80px;
  background-color: #272470;
}

.hero-box img {
  width: 380px;
  border-radius: 8px;
  border: 14px solid white;
}

.hero-title {
  margin-left: 40px;
  color: white;
}

.hero-title h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

/* DESKRIPSI */
.desc-section {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.desc-box {
  width: 55%;
  padding: 40px;
  background-color: #272470;
  color: white;
  border-radius: 10px;
  line-height: 1.7;
}

.desc-img-box img {
  width: 300px;
  border-radius: 10px;
  border: 8px solid white;
}

/* AKSES */
.akses-section {
  padding: 40px 60px;
}

.akses-section h2 {
  color: #272470;
  margin-bottom: 25px;
}

.akses-container {
  display: flex;
  justify-content: space-between;
}
.lokasi{
   display: block; /* Memastikan link berada di baris baru di bawah gambar */
    text-align: center; /* Memusatkan teks */
    margin-top: 10px; /* Jarak atas dari gambar */
    color: #272470; 
  text-decoration: none; /* Menghilangkan underline default */
}
.lokasi:hover {
    text-decoration: underline; /* Tambahkan underline saat hover untuk interaktivitas */
}
.akses-img img {
  width: 300px;
  border-radius: 10px;
}

.link-lokasi {
  text-align: center;
  color: #272470;
  margin-top: 10px;
}

.akses-text {
  width: 55%;
  line-height: 1.7;
  color: #272470;
}

/* PANTAI BATU */
.pantai-batu-section {
  padding: 40px 60px 100px;
}

.pantai-batu-section h2 {
  color: #272470;
  margin-bottom: 20px;
}

.pantai-batu-img img {
  width: 100%;
  border-radius: 10px;
}

.pantai-batu-text {
  margin-top: 20px;
  line-height: 1.7;
  color: #272470;
}

/* FOOTER */
footer {
  background-color: #272470;
  padding: 40px 0;
  text-align: center;
  color: white;
}

footer img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}
/* dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white; /* Sesuaikan dengan tema */
  text-decoration: none;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272470;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: grey;
}

.show {
  display: block;
}
