* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #333;
}

/* HEADER */
header {
    background-color: #272470;
    color: white;
    padding: 12px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {font-size:20px;}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    padding: 60px;
    background-color: #272470;
}

.hero-img img {
    width: 380px;
    border-radius: 10px;
    border: 10px solid white;
}

.hero-text {
    margin-left: 40px;
    color: white;
}

.hero-text h2 {
    font-size: 52px;
    margin-bottom: 10px;
}

/* DESKRIPSI */
.deskripsi {
    padding: 60px;
    display: flex;
    justify-content: space-between;
}

.deskripsi-box {
    width: 55%;
    background-color: #272470;
    color: white;
    padding: 40px;
    border-radius: 10px;
    line-height: 1.7;
}

.deskripsi-img img {
    width: 300px;
    border-radius: 10px;
    border: 6px solid white;
}

/* AKSES */
.akses {
    padding: 60px;
}

.akses h2 {
    color: #272470;
    margin-bottom: 25px;
}

.akses-wrapper {
    display: flex;
    justify-content: space-between;
}

.akses-img img {
    width: 300px;
    border-radius: 10px;
}

.lokasi {
    display: block; /* Memastikan link berada di baris baru di bawah gambar */
    text-align: center; /* Memusatkan teks */
    margin-top: 10px; /* Jarak atas dari gambar */
    color: #272470; /* Warna teks sesuai tema */
    text-decoration: none; /* Menghilangkan underline default */
}
.lokasi:hover {
    text-decoration: underline; /* Tambahkan underline saat hover untuk interaktivitas */
}


.akses-text {
    width: 55%;
    color: #272470;
    line-height: 1.7;
}

/* GALERI FOTO */
.galeri {
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
}

.galeri img {
    width:100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background-color: #272470;
    text-align: center;
    padding: 40px 0;
    color: white;
}

footer img {
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}
/* dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white; /* Sesuaikan dengan tema */
  text-decoration: none;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272470;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: grey;
}

.show {
  display: block;
}
